:root {
  --primary-brand-color: #4d5ae5;
  --active-link-color: #404bbf;
  --headings-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-mode-background: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-background: #2e2f42;
  --primary-background-color: #ffffff;
  --modal-background: #fcfcfc;
  --primary-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

/*! -----------------Reset Styles ------------------*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
/*! --------------------------------------------------*/

/** ----------------------- Header Logo --------------------*/
.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  padding: 24px 0px;
}
.logo-studio {
  color: var(--headings-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/**------------------- Navigation Pannel -----------*/
.header {
  margin: 0 auto;
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.navigation-link {
  color: var(--headings-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.current::after {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--active-link-color);
  content: "";
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-link-color);
}

.navigation-list {
  display: flex;
  gap: 40px;
}
/**------------------- Contacts ----------------- */
.address {
  font-style: normal;
  display: flex;
  align-items: center;
}

.address-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.address-link {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0px;
}
.address-link:hover,
.address-link:focus {
  color: var(--active-link-color);
}

/**----------------- Section 1 ----------------*/
.hero {
  background-color: var(--hero-background);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/heroimg.jpg);
}
.hero-header {
  color: var(--primary-background-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
}
.order-button {
  background: var(--primary-brand-color);
  color: var(--primary-background-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;

  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto;
  margin-bottom: 0;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--active-link-color);
}
/*!-------------- modal -----------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 408px;
  height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background: var(--modal-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: var(--headings-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #rgba(0, 0, 0, 10%);
}

.close-button:hover {
  background-color: var(--active-link-color);
  fill: var(--primary-background-color);
  stroke-width: 0px;
  border: 0px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

/**----------------------- Section 2 ----------------*/
.advantages {
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-icon-box {
  width: auto;
  height: auto;
  border-radius: 4px;
  background: var(--light-mode-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 24px 100px;
}

.advantages-icon {
}
.advantages-header {
  color: var(--headings-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.advantages-description {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/**--------------------- Section 3 -----------------*/
.works {
  padding-bottom: 120px;
}
.works-list {
  display: flex;
  gap: 24px;
}
.works-item {
  width: calc((100% - 48px) / 3);
}
.works-header {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  max-width: 324px;
  max-height: 40px;
  margin: 0 auto;
  margin-bottom: 72px;
}

/**--------------- Section 4 -------------*/
.team {
  background-color: var(--light-mode-background);
  padding: 120px 0;
}
.team-header {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background-color: var(--primary-background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-position {
  color: var(--text-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.team-photo-desc {
  padding: 32px 0px;
}
.team-socials-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-socials-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-socials-icon {
  fill: var(--light-mode-background);
}

/**--------------- Section 5 -------------*/
.customers-container {
  padding-bottom: 120px;
}
.customers-header {
  color: var(--headings-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 24px * 5) / 6);
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--subtle-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--subtle-text-color);
  margin: 16px 32px;
}

.customers-item:hover {
  border-color: var(--active-link-color);
}
.customers-item:hover .customers-icon {
  fill: var(--active-link-color);
}

/**------------------ Footer ----------------------*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  gap: 120px;
  align-items: flex-start;
}
.text-container {
  display: flex;
  flex-direction: column;
}
.motto {
  color: var(--light-mode-background);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
}
.footer .logo-studio {
  color: var(--light-mode-background);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding: 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}
.socialmedia-conteiner {
  display: flex;
  flex-direction: column;
}
.socialmedia-header {
  color: var(--primary-background-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.socialmedia-list {
  display: flex;
  gap: 16px;
}

.socialmedia-item {
}
.socialmedia-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialmedia-icon {
  fill: var(--light-mode-background);
}
/**--------------------- Portfolio ----------------*/
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-button {
  background: var(--light-mode-background);
  color: var(--primary-brand-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-background-color);
  background-color: var(--active-link-color);
  border: 1px solid transparent;
}
.link {
  text-decoration: none;
}
.projects-header {
  color: var(--headings-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.project-type {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.projects-item {
  border: 1px solid var(--accent-color);
  background: var(--primary-background-color);
  width: calc((100% - 48px) / 3);
}
.project-description {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/*! ----------- animation -------- */
.image-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-box:hover .overlay {
  transform: translatey(0);
}

.overlay-text {
  width: 296px;
  color: var(--light-mode-background);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 40px 32px 164px 32px;
}
